@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-sans antialiased text-text-main bg-background;
    -webkit-tap-highlight-color: transparent;
  }

  h1, h2, h3, h4, h5, h6 {
    @apply tracking-tight;
  }
}

.app-container {
  @apply max-w-[500px] mx-auto min-h-screen bg-background flex flex-col relative;
}

/* Custom Scrollbar for premium feel */
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  @apply bg-brand-100 rounded-full;
}
